.barchart {
  display: grid;
  column-gap: 10px;
  row-gap: 0;
  padding: 0;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  height: 10em;
  margin-bottom: auto;
}
.barchart li {
  height: 100%;
  list-style-type: none;
  background-color: var(--softred);
  border-radius: 3px;
}
.label {
  display: grid;
  column-gap: 10px;
  row-gap: 0;
  padding: 0;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  margin: 0.5em 0;
}
.label li {
  list-style-type: none;
  color: var(--mediumbrown);
  font-size: 10px;
}