* { box-sizing: border-box; }
:root {
  --softred: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --darkbrown: hsl(25, 47%, 15%);
  --mediumbrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --paleorange: hsl(33, 100%, 98%);
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
  background-color: var(--cream);
  font-size: 18px;
  height: 100%;
}

#root {
  height: 100%;
}
